
.card-details{
    display: flex;
    justify-content: center;
}
.card-details .cd-max-container{
    width: 100%;
    max-width: 1420px;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.card-details .cd-max-container .cd-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 30px;

}
.card-details .cd-max-container .cd-header .cd-img-container{
    width: 50%;
    border-radius: 24px;
    overflow: hidden;
    background-color: #fff;
    position: relative;
}

.card-details .cd-max-container .cd-header .cd-img-container .col-100 .discount-detail{
    background-color: #ff554d;
    color: #fff;
    padding: 5px;
    font-weight: 500;
    width: 130px;
    position: absolute;
    top: 30px;
    left: 0;
    height: 50px;
    border-radius: 0 25px 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.card-details .cd-max-container .cd-header .cd-info-container{
    width: 50%;
    height: auto;
    border-radius: 24px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 30px;
    padding: 20px ;
}
.card-details .cd-max-container .cd-header .cd-info-container .brand{
    width: 100px;

}
.card-details .cd-max-container .cd-header .cd-info-container .stock{
    color: #000;
}
.card-details .cd-max-container .cd-header .cd-info-container h3{
    font-size: 2rem;
    font-weight: 700;
    color: #000;
}
.card-details .cd-max-container .cd-header .cd-info-container .price-container{
    background-color: #f5f5f5;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: solid 2px #c3c3c330;
    margin-top: 40px;
}

.card-details .cd-max-container .cd-header .cd-info-container .price-container .price-cont-a{
    width: 100%;
    display: flex;
    justify-content: center;
}
.card-details .cd-max-container .cd-header .cd-info-container .price-container .price-cont-a .price-wd{
    font-size: 2rem;
    font-weight: 600;
}

.card-details .cd-max-container .cd-header .cd-info-container .price-container .price-cont-b{
    width: 100%;
    display: flex;
    justify-content: center;
}
.card-details .cd-max-container .cd-header .cd-info-container .price-container .price-cont-b .price{
    font-size: 1.1rem;
    text-decoration: line-through;
    color: #888888;
    margin-right: 5px;
}
.card-details .cd-max-container .cd-header .cd-info-container .price-container .price-cont-b .ahorro{
    font-size: 1.1rem;
    color: #2189ff;
    margin-left: 5px;
}

.card-details .cd-max-container .cd-header .cd-info-container .detail-btn-container{
    height: 50px;
    display: flex;
    justify-content: center;
    gap: 50px;

}
.card-details .cd-max-container .cd-header .cd-info-container .detail-btn-container .btn-buy{
    text-decoration: none;
    background-color: #0b2739;
    color: #fff;
    padding: 10px 25px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 25px;
    border: solid 2px black;
}

.card-details .cd-max-container .cd-header .cd-info-container .detail-btn-container .btn-buy:active{
    border: dotted 2px black;
}
.card-details .cd-max-container .cd-header .cd-info-container .detail-btn-container .btn-add-cart{
    background-color: #fff;
    color: #000;
    padding: 10px 25px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 25px;
    border: 2px solid black;
    transition: background-color 0.3s, color 0.3s;
}
.card-details .cd-max-container .cd-header .cd-info-container .detail-btn-container .btn-add-cart:hover{
    color: #fff;
    background-color: #0b2739;
}
.card-details .cd-max-container .cd-header .cd-info-container .detail-btn-container .btn-add-cart:active{
    border: dotted 2px #fff;
}

.card-details .cd-max-container .cd-header .cd-info-container .payment-methods{
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: flex;
    justify-content: center;
}
.card-details .cd-max-container .cd-header .cd-info-container .payment-methods img{
    height: 30px;
    margin-right: 5px;
}

.card-details .cd-max-container .cd-main{
    background-color: transparent;
}
.card-details .cd-max-container .cd-main .cd-specs{
    background-color: #0b1e32;
    background-color: #fff;
    border-radius: 25px;
    padding: 20px;
}
.card-details .cd-max-container .cd-main .cd-specs h2{
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    color: #000;

}
.card-details .cd-max-container .cd-main .cd-specs p{
    margin-top: 30px;
    color: #000;
}

.carousel-indicators button{
    width: 10px !important;
    height: 10px !important;
    border-radius: 50%;
    background-color: #2189ff !important;
}

.carousel-img{
    width: 100%;
    height: 100%;
    min-height: 520px;
    object-fit: contain;
}


/* toastify */
.Toastify__toast-container {
    width: 250px;
}
.Toastify__toast--default {
    background: #fff;
    color: #aaa;
}
.Toastify__toast--info {
    background: #3498db;

}
.Toastify__toast--success {
    background: #091f2c;
    text-align: center;
}
.Toastify__toast--warning {
    background: #f1c40f;
}
.Toastify__toast--error {
    background: #e74c3c;
}


@media screen and (max-width: 1200px){
    .card-details .cd-max-container .cd-header .cd-info-container{
        gap: 20px;
    }
    .card-details .cd-max-container .cd-header .cd-info-container h3{
        font-size: 1.5rem;
    }
    .carousel-img{
        min-height: 450px;
    }
}
@media screen and (max-width: 1000px){
    .card-details .cd-max-container .cd-header{
        flex-direction: column;
    }
    .card-details .cd-max-container .cd-header .cd-img-container{
        width: 100%;

    }
    .card-details .cd-max-container .cd-header .cd-info-container{
        width: 100%;
        min-height: 450px;
    }
    .card-details .cd-max-container .cd-header .cd-info-container .stock{
        position: absolute;
        top: 20px;
        right: 20px;

    }
}
@media screen and (max-width: 700px){
    .card-details .cd-max-container{
        padding: 20px;
    }
}
@media screen and (max-width: 550px){
    .card-details .cd-max-container .cd-header .cd-info-container h3{
        font-size: 1.4rem;
    }
    .card-details .cd-max-container .cd-header .cd-info-container .detail-btn-container{
        height: auto;
        justify-content: space-between;
        gap: 10px;
        flex-wrap: wrap;
    }
    .carousel-img{
        min-height: 300px;
    }

}
@media screen and (max-width: 440px){
    .card-details .cd-max-container .cd-header .cd-info-container .stock{
        font-size: 0.8rem;
    }
    .card-details .cd-max-container .cd-header .cd-info-container .brand{
        width: 80px;
    }
    .card-details .cd-max-container .cd-header .cd-info-container h3{
        font-size: 1.2rem;
    }
    .card-details .cd-max-container .cd-header .cd-info-container .price-container .price-cont-a .price-wd{
        font-size: 1.7rem;
    }
    .card-details .cd-max-container .cd-header .cd-info-container .detail-btn-container .btn-buy{
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }
    .card-details .cd-max-container .cd-header .cd-info-container .detail-btn-container .btn-add-cart{
        width: 100%;
        text-align: center;
        margin-bottom: 70px;
    }
    .card-details .cd-max-container .cd-header .cd-info-container .payment-methods img{
        height: 25px;
        margin-right: 5px;
    }
    
}