.no_products{
    height: calc(100vh - 240px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.no_products h1{
    font-size: 1.7rem;
}
.store_card_container{
    background-color: #fff;
    height: 460px;
    width: 280px;
    position: relative;
    overflow: hidden;
    border-radius: 25px;
    margin: 10px;
    
}
.store_card_container .img_container{
    border-radius: 25px 25px 0 0;
    position: absolute;
    top: 0;
    height: 55%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.store_card_container .img_container img{
    height: 100%;
}
.store_card_container .discount{
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 1rem;
    background-color: #ff554d;
    color: #fff;
    height: 55px;
    width: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 50%;
    font-weight: 700;
    
}
.store_card_container .discount::after{
    content: "%OFF";
    color: #fff;
    font-size: 0.6rem;
}

.store_card_container:hover .zoom_img {
    transform: scale(1.05);
    transition: all 0.5s;
}

.store_card_container h3{
    color: #000;
    position: absolute;
    bottom: 150px;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.1rem;
    font-weight: 400;
    text-align: center;
    padding: 0 20px;
}
.store_card_container .price{
    position: absolute;
    bottom: 100px;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.9rem;
    font-weight: 500;
    text-align: center;
    padding: 0 20px;
    text-decoration: line-through;
    color: #888888;
}
.store_card_container .price_wd{
    position: absolute;
    bottom: 75px;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    padding: 0 20px;
    color: #000;
}
.card_desc .item_info{
    position: absolute;
    bottom: 0px;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    text-align: center;
    text-decoration: none;
    background-color: #0b2739;
    color: #fff;
    border-radius: 25px;
    padding: 10px 15px;
    font-weight: 500;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.3s;
    border: solid 1px #ffffff4a;

}
.card_desc .item_info:hover{
    background-color: #424242;
}
.card_desc .item_info:active{
    outline:2px #82c1e9 dotted;
}



.discount0{
    display: none;
}