.cart-button{
    text-decoration: none;
    margin-right: 10px;
    transition: all 0.4s ease;
}
.cart-svg{
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%), translateX(-50%);
}