.cart-item-container{
    height: 20%;
    position: relative;
    background-color: #fff;
    width: 95%;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px 0;
}
.cart-item-container img{
    height: 100%;
    position: absolute;
    left: 0;
}
.cart-item-title{
    position: absolute;
    top: 5px;
    left: 20%;
    font-size: 1rem;
    font-weight: 500;
}
.cart-item-price{
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.1rem;
    font-weight: 500;
}

.subtotal{
    position: absolute;
    top: 10px;
    right: 10px;
    color: #000;
    font-weight: 500;
}
.remove-icon{
    position: absolute;
    bottom: 5px;
    right: 10px;
    cursor: pointer;
    color: #767676;
}
.remove-icon:hover{
    color: #ff554d;
}

.quantity-container{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%) translateY(-30%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.quantity-minus{
    border: solid #ddd 1px;
    width: 30px;
    height: 32px;
    border-radius: 32px 0 0 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    color: #b7b7b7;
    cursor: pointer;
}
.quantity-minus:hover{
    color: #001428;
}
.cart-item-quantity{
    color: #000;
    border: solid #ddd 1px;
    width: 48px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quantity-plus{
    border: solid #ddd 1px;
    width: 30px;
    height: 32px;
    border-radius: 0 32px 32px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    color: #b7b7b7;
    cursor: pointer;
}
.quantity-plus:hover{
    color: #001428;
}

.cart-price-container{
    position: absolute;
    top: 70%;
    left: 25%;
    transform: translateX(-50%) translateY(-30%);
}

.cart-price-cont-a{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.cart-price-wd{
    font-size: 1.2rem;
    font-weight: 500;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: -8px;
    padding: -10px;
}

.cart-price-cont-b{
    width: 100%;
    display: flex;
    justify-content: center;
}
.cart-price{
    font-size: 1rem;
    text-decoration: line-through;
    color: #888888;
    margin-right: 5px;
}


/* ------- responsive ------ */
@media screen and (max-width: 940px){
    .cart-price-container{
        left: 27%;
    }
    .quantity-container{
        position: absolute;
        top: 70%;
        left: 55%;
        transform: translateX(-45%) translateY(-30%);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width: 890px){
    .cart-item-container{
        height: 120px;
    }
    .quantity-container{
        left: 50%;
        transform: translateX(-50%);
    }
}
@media screen and (max-width: 620px){
    .cart-item-container{
        height: 130px;
    }
    .cart-item-container img{
        height: 70%;
        top: 65%;
        transform: translateY(-50%);
    }
    .cart-item-container .cart-item-title{
        font-size: 0.9rem;
        padding-right: 85px;

        top: 8px;
        left: 20px;
    }
    .cart-item-container .cart-price-container .cart-price-cont-a .cart-price-wd{
        font-size: 0.9rem;
    }
    .cart-item-container .cart-price-container .cart-price-cont-b .cart-price{
        font-size: 0.8rem;
        margin-left: 5px;
    }
    .cart-item-container .subtotal{
        font-size: 0.9rem;
        right: 5px;
    }
    .quantity-container{
        left: 55%;
    }
    .cart-price-container{
        top: 50%;
        left: 54%;
        transform: translateX(-50%) translateY(-30%);
    }
}